@import "cookiebar";

.cc-groups {
  display: none;
  padding-top: 15px;
}

.cc-group {
  text-align: left;

  > label {
    margin: 5px 130px 5px 10px;
  }
}

.cc-detail-btn-details {
  text-decoration: underline;
  padding: 0;
  margin: 0 0 10px;

  color: var(--ccb-detail-clr, #a2a2a2);

  border: 0 none;
  outline: 0 none;
  background: transparent;

  font-size: 13px;
  letter-spacing: 0;
  text-transform: initial;

  cursor: pointer;

  span {

    &:nth-child(2) {
      display: none;
    }
  }

  &.cc-active {

    span {

      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: inline;
      }
    }
  }

  &:hover {
    color: var(--ccb-detail-clr-hvr, #717171);
  }
}
