$cookiebar-input-checked: #399d32;
$cookiebar-input-unchecked: #9c9b99;
$cookiebar-input-disabled: #c8c7c5;
$cookiebar-overlay: rgba(0,0,0,.75);
$cookiebar-animation-duration: .5s;

@import "cookiebar";

.cookiebar_simple{
  color: #444444;

  p{
    color: #868686;
    line-height: 1.4;
  }

  .cc-inner{
    padding: 25px;
    border-radius: 5px;

    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
    background: #fff;
  }

  .cc-groups{
    display: none;
    padding-top: 15px;

    .cc-group{
      position: relative;
      border: 1px solid #d0d0d0;
      border-radius: 5px;
      margin-bottom: 10px;
      text-align: left;

      > label{
        margin: 5px 130px 5px 10px;
      }
    }
  }

  .cc-cookies{
    background: #fbfbfb;

    > p {
      font-size: 0.875rem;
    }

    > p, >.cc-cookie{
      margin: 0;
      padding: 15px;
      border-top: 1px solid #e6e6e6;
    }

    .cc-cookie {

      .cc-cookie-info{
        font-size: 0.875rem;
        background: #fff;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #efefef;

        > div + div{
          margin-top: 5px;
        }

        + button.cc-detail-btn-details{
          margin-top: 15px;
        }
      }

      .cc-cookie-desc p {
        margin-bottom: 0;
      }

      label.cookie + p, label.cookie + .cc-cookie-info, label.cookie + button.cc-detail-btn-details{
        margin-top: 10px;
      }

      p{
        margin: 0 0 15px;
        font-size: 0.875rem;
      }
    }
  }

  .cc-footer,.cc-info{
    text-align: center;
  }

  .cc-detail-btn-details{
    border: 0 none;
    outline: 0 none;
    background: transparent;
    font-size: 13px;
    letter-spacing: 0;
    text-transform: initial;
    cursor: pointer;
    color: #a2a2a2;
    text-decoration: underline;
    padding: 0;
    margin: 0 0 10px;

    span{

      &:nth-child(2){
        display: none;
      }
    }

    &.cc-active{

      span{

        &:nth-child(1){
          display: none;
        }

        &:nth-child(2){
          display: inline;
        }
      }
    }

    &:hover{
      color: #717171;
    }
  }

  .cc-info {
    margin-top: 15px;

    > p{
      font-size: 0.875rem;
    }

    > a{
      display: inline-block;
      font-size: 0.813rem;
      color: #a2a2a2;
      text-decoration: none;

      &:hover{
        color: #717171;
      }

      + a:before{
        display: inline-block;
        content: '·';
        margin-right: 5px;
      }
    }
  }
}
